# PM (xx.02.2024) WordPress core, plugins & themes are tracked.
# @see https://github.com/github/gitignore/blob/main/WordPress.gitignore

# core
# /.htaccess
# /index.php
/license.txt
# /readme.html
# /wp-*.php
/wp-config.inc
# /xmlrpc.php
# /wp-admin/
# /wp-includes/
/wp-content/*

# plugins
!/wp-content/plugins
/wp-content/plugins/*
!/wp-content/plugins/admin-site-enhancements
# !/wp-content/plugins/jetpack
!/wp-content/plugins/ninja-forms
!/wp-content/plugins/polylang
!/wp-content/plugins/tapmeppe
!/wp-content/plugins/woocommerce
!/wp-content/plugins/wordfence
!/wp-content/plugins/wordpress-seo
!/wp-content/plugins/wp-super-cache

# themes
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/storefront
!/wp-content/themes/tapmeppe

# miscellaneous
# IDE: ignore local development directory & file except the configuration files
.DS_Store*
ehthumbs.db
Thumbs.db
desktop.ini
*.lnk
*.pem
*.backup
*.backup.*
*.ignore
*.ignore.*
*.log
node_modules/*
dist/*
package-lock.json
# !package.json
vendor/*
composer.lock
# !composer.json
.env
# !.env.*
# !.gitkeep
# !.gitignore
# !/.vscode
/.vscode/*
!/.vscode/*.json
!/.vscode/spellright.dict
# !/CHANGELOG.md
# !/README.md
# !/TODO.md
# !/zyxw
/zyxw/*
!/zyxw/private
/zyxw/private/*
!/zyxw/private/.gitkeep
!/zyxw/public
