# To determine the name of your containers
COMPOSE_PROJECT_NAME=lamp

# # Possible values: php82, php83
# # PM (02.03.2024) removed previous values
# PHPVERSION=php83
# DOCUMENT_ROOT_APACHE=/var/www/html
# DOCUMENT_ROOT_HELPERS=./services/helpers
# DOCUMENT_ROOT_WEBSERVER=./services/www
# DIR_VHOSTS=./config/vhosts
# DIR_LOGS_APACHE=./logs/apache2
# PHP_INI=./config/php/php.ini
# DIR_SSL=./config/ssl

# # PHPMyAdmin
# UPLOAD_LIMIT=512M
# MEMORY_LIMIT=512M

# # Xdebug
# DIR_LOGS_XDEBUG=./logs/xdebug
# PORT_XDEBUG=9003

# # Possible values: mariadb104, mariadb105, mariadb106
# # PM (02.03.2024) removed previous values
# # @see https://support.plesk.com/hc/en-us/articles/12388091703703--How-to-upgrade-MySQL-5-5-to-5-6-5-7-or-MariaDB-5-5-to-10-x-on-Linux
# # @see https://www.apachefriends.org/blog/new_xampp_20231119.html
# DATABASE=mariadb106
# DIR_MYSQL_INITDB=./config/initdb
# DIR_MYSQL_DATA=./data/mysql
# DIR_LOGS_MYSQL=./logs/mysql

# # PM (02.03.2024) host machine ports: webserver, mysql, phpmyadmin & redis
# PORT_WEBSERVER=7501
# PORT_PMA=7502
# PORT_MYSQL=7503
# PORT_REDIS=7504

# # MySQL root user password
# # MYSQL_ROOT_PASSWORD=tiger
# # PM (02.03.2024) changed the root password
# MYSQL_ROOT_PASSWORD=qw3rtzu10p

# # Database settings: Username, password and database name
# #
# # If you need to give the docker user access to more databases than the "docker" db 
# # you can grant the privileges with phpmyadmin to the user.
# MYSQL_DOCKER_USER=docker
# MYSQL_DOCKER_PASSWORD=docker
# MYSQL_DOCKER_DATABASE=docker
